<footer>
  <div class="f-info sticky-bottom">
    <div class="f-info-socials">
      <a href="https://github.com/virtual-arin" target="_blank"
        ><i class="fa-brands fa-square-github"></i
      ></a>
      <a href="https://instagram.com/virtual_arin" target="_blank"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a href="https://linkedin.com/in/virtual-arin" target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; WanderAura Private Limited</div>
    <div>Made with &hearts; by Arin Sharma</div>
  </div>
</footer>
