<% layout("layouts/boilerplate") -%>

<h3 class="mt-3">All Listings</h3>
<!-- <form method="get" action="/listings/new">
    <button>Create New Listing</button>
  </form> -->

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
  <% for(let listing of allListings){ %>
  <div class="col">
    <a
      href="/listings/<%= listing._id %>"
      class="listing-link text-decoration-none"
    >
      <div class="card listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="listing_image"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b><br />&#8377; <%= listing.price ?
            listing.price.toLocaleString("en-IN") : 'N/A' %> / night
          </p>
        </div>
      </div>
    </a>
  </div>
  <% } %>
</div>
